.header {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: left;
  margin: 0px;
}
.paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  align-items: center;
}
.flexCircles {
  display: flex;
  justify-content: space-around;
}
h4 {
  font-family: "Poppins", sans-serif;
}
.textContainer {
  margin-top: -150px;
}
.aboutMeText {
  font-size: 20;
  color: black;
  text-align: left;
  font-family: "Poppins";
  /* width: 50%; */
}
.aboutLinksText {
  font-size: 20;
  color: black;
  text-align: left;
  font-family: "Poppins";
  font-weight: 600;
  padding-top: 30px;
}
.aboutDescription {
  padding-left: 60px;
  padding-top: 20px;
}
.profileImage {
  height: 550px;
  border-radius: 50%;
}
.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  max-width: 1100px;
}
.circleOne {
  display: flex;
  width: 70px;
  height: 70px;
  background-color: #91be4a;
  border-radius: 50%;
  margin-top: 30px;
  justify-content: center;
}
.circleTwo {
  display: flex;
  width: 70px;
  height: 70px;
  background-color: #ff5757;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
}
.circles {
  display: flex;
  margin: auto;
  justify-content: center;
}
#about {
  padding-top: 90px;
}
.skills {
  text-align: left;
  margin: auto;
  max-width: 1100px;
  font-family: "Poppins";
}
@media (max-width: 900px) {
  .aboutContainer {
    padding-top: 50px;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    font-size: 16px;
  }
  .aboutDescription {
    padding-left: 10px;
  }
  .aboutMeText {
    font-size: 16px;
  }
  .circleOne {
    width: 80px;
    height: 80px;
  }
  .circleTwo {
    width: 80px;
    height: 80px;
  }
  .profileImage {
    height: 400px;
  }
}
