.App {
  text-align: center;
}
.section {
  padding-top: 150px;
  padding-bottom: 50px;
}
.root {
  padding-top: 130px;
}

@media (max-width: 900px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
