.gridTitles {
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  margin: auto;
}
h4 {
  color: white;
  font-size: 19px;
}
.text {
  padding: 20px;
  padding-top: 0px;
  text-decoration-line: none;
  transition: transform ease 4s;
}
.text:hover {
  margin-top: -5px;
}
.finalText {
  width: 260px;
  text-align: left;
}
h6 {
  color: white;
  font-size: 13px;
  margin: 0px;
}
.hero {
  width: 1200px;
  height: 500px;
  margin: auto;
}
.imageExperience {
  text-align: left;
}
.images {
  height: 400px;
}
.gridText {
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
}
.circle {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-top: 50px;
  z-index: 10;
}
#experience {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}
.flexText {
  align-self: flex-end;
  padding-bottom: 60px;
}
