.gridTitles {
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  margin: auto;
}
h4 {
  color: white;
  font-size: 19px;
}
.text {
  padding: 20px;
  padding-top: 0px;
}
.finalText {
  width: 260px;
  text-align: left;
}
h6 {
  color: #91be4a;
  font-size: 13px;
}
.hero {
  width: 1200px;
  height: 500px;
  margin: auto;
}
.imageExperience {
  text-align: left;
}
.images {
  height: 400px;
}
.gridText {
  text-align: left;
  padding-left: 10px;
  padding-top: 80px;
}
