.Buttons {
  text-align: end;
}
.Header {
  background-color: white;
  position: "-webkit-sticky";
  position: "sticky";
}
.content {
  justify-content: space-between;
}
.appBar {
  background-color: white;
}
.logo {
  width: 100px;
}
.buttons {
  font-family: "Poppins", sans-serif;
  text-transform: lowercase;
  display: flex;
}
.link {
  padding-left: 30px;
}
.drawer {
  display: none;
}
@media (max-width: 900px) {
  .buttons {
    display: none;
  }
  .drawer {
    display: block;
  }
  .drawerLink {
    text-decoration-line: none;
    color: #91be4a;
    font-weight: 700;
    padding-bottom: 1=5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .drawerLinks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
  }
}
