.Buttons {
  text-align: end;
}
.Header {
  background-color: white;
  position: "-webkit-sticky";
  position: "sticky";
}
.content {
  justify-content: space-between;
}
.appBar {
  background-color: white;
}
.logo {
  width: 100px;
}
.buttons {
  font-family: "Poppins", sans-serif;
  text-transform: lowercase;
  display: flex;
}
.link {
  padding-left: 30px;
}
